<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.litttlesongstudios.Isogramd">
	<uses-sdk android:minSdkVersion="15" />
	<activity android:name=".MyActivity" android:windowSoftInputMode="adjustPan"> </activity>
	<application android:label="Isogramd">
	</application>
</manifest>
